* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

header {
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header button {
  width: 15vh;
  height: 50%;
  background-color: #263197;
  border-radius: 5px;
  color: aliceblue;
}

footer {
  height: 30vh;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer ul {
  color: white;
  list-style: none;
  line-height: 8vh;
}

.info {
  text-decoration: underline;
  font-weight: 900;
}

main {
  width: 100%;
  height: auto;
  min-height: 60vh;
  background-image: url(../img/mur.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car {
  display: none;
}

.fond {
  width: 60vh;
  border: 2px solid black;
  display: flex;
  align-items: center;
}

.carousel img {
  max-width: 100%;
  display: none;
}

.carousel img.active {
  display: block;
}

.boxButton {
  display: flex;
  justify-content: space-between;
  width: 60vh;
  position: absolute;
}

.butleft {
  border: 2px solid black;
  border-radius: 100%;
  padding: 2%;
  margin: 2%;
}

.butright {
  border: 2px solid black;
  border-radius: 100%;
  padding: 2%;
  margin: 2%;
}

.left {
  text-align: center;
  font-size: 200%;
  cursor: pointer;
}

.right {
  text-align: center;
  font-size: 200%;
  cursor: pointer;
}

.li {
  display: none;
  width: 60vh;
  height: auto;
  border: 2px solid black;
  background-color: aliceblue;
}
.li h2 {
  text-align: center;
}

.uliste {
  margin: 0;
  padding: 0;
}

.uliste li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uliste li:nth-child(odd) {
  background: #f9f9f9;
}

.uliste li:hover {
  background: #ddd;
}

.uliste li.checked {
  background: #11c55c;
  color: #fff;
  text-decoration: line-through;
}

.uliste li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #17ad23;
  color: white;
}

.entete {
  background-image: url(../img/imageListe.jpg);
  background-size: cover;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.entete:after {
  content: "";
  display: table;
  clear: both;
}

.entete input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.ke {
  display: none;
  width: 100vh;
  height: auto;
  border: 2px solid black;
  background-image: url(../img/keeper01.jpg);
  background-size: cover;
  text-align: center;
}
.ke h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.ke h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2vh;
  text-shadow: #969393 0.1em 0.1em;
}

.to {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.green {
  color: #07b619;
}

#limit {
  -moz-appearance: textfield;
  width: 15%;
  border: 2px solid;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: hidden;
}
#limit::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#limit::-o-inner-spin-button {
  -o-appearance: none;
  margin: 0;
}

.butKeeper {
  display: flex;
  justify-content: space-evenly;
}
.butKeeper #btJ1 {
  color: white;
  background-color: #583410;
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
}
.butKeeper #reset {
  color: white;
  background-color: #0a3a69;
  width: 6vh;
  border-radius: 50%;
  height: 6vh;
  font-size: 75%;
  align-self: center;
}
.butKeeper #btJ2 {
  color: white;
  background-color: #053b29;
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
}

.mo {
  display: none;
  width: 50%;
  height: 60vh;
  border: 2px solid black;
  background-image: url(../img/decor.gif);
  background-size: cover;
}

.sectTitle {
  display: flex;
  justify-content: space-evenly;
}

.sctbar {
  display: flex;
  justify-content: space-between;
}

#vieM,
#vieY {
  margin: 2vh;
  width: 50%;
  background-color: #ddd;
  opacity: 0.5;
}

#barM,
#barY {
  width: 100%;
  height: 30px;
  background: linear-gradient(0.25turn, #f66409, #04aa6d);
  text-align: center;
  line-height: 30px;
  color: white;
}

.sctBut {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#dem {
  width: 25%;
  background-color: #04aa6d;
}

.butJeu {
  display: none;
}

#aban {
  margin: 1vh;
  background-color: #ffffff;
}

#attNorm {
  margin: 1vh;
  background-color: #f60909;
}

#attSpec {
  margin: 1vh;
  background-color: #f68b09;
}

#soin {
  margin: 1vh;
  background-color: #5ded99;
}

.log {
  margin: 0;
  padding: 0;
}

.log .mlog {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  color: #f60909;
  transition: 0.2s;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.log .nlog {
  font-size: 14px;
  color: chartreuse;
}
.log .alog {
  font-size: 14px;
  color: white;
}
.log .dlog {
  font-size: 14px;
  color: white;
}

.modal {
  width: 100%;
}

.log {
  height: 16vh;
  overflow-y: auto;
  overflow-block: auto;
}

.boxPerso {
  display: flex;
  justify-content: space-evenly;
  height: 25vh;
}

.pla1 {
  background-image: url(../img/player01.jpg);
  background-size: cover;
  height: 100%;
  width: 20%;
  border: 2px solid black;
}

.pla2 {
  background-image: url(../img/player02.jpg);
  background-size: cover;
  height: 100%;
  width: 20%;
  border: 2px solid black;
}

/*# sourceMappingURL=main.css.map */
