header {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button {
        width: 15vh;
        height: 50%;
        background-color: rgb(38, 49, 151);
        border-radius: 5px;
        color:aliceblue

    }
}
