main {
    width: 100%;
    height: auto;
    min-height: 60vh;
    background-image: url(../img/mur.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
